<meta charset="UTF-8">
<title>EJS Is Fun</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="/storages/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/storages/vanilla-dataTables/datatables.min.css"/>
 
<script type="text/javascript" src="/storages/vanilla-dataTables/datatables.min.js"></script>

<style>
    body { padding-top:50px; }
</style>