<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dataset</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <% nameTable.forEach(function(val){ %>
                <td><%= val.name %></td>
              <% }); %>
        </tr>
    </thead>
    <tbody>
            <% dataset.forEach(function(row){ %>
                <tr>
                <% names.forEach(function(name){ %>
                    <td><%= row[name] %></td>
                  <% }); %>
                </tr>
              <% }); %>
            </tbody>
       
    </table>
    
</body>
</html>